/* 
#f25a5f
#E19B8E
#FFE5DB
#57BABA
 */
button.changecolor {
  position: absolute;
  border: none;
  outline: none;
  padding: 15px;
  cursor: pointer;
}
svg#loading-svg {
  width: 150px;
  height: 150px;
  overflow: visible;
  margin: auto;
  display: block;
}

#animate-rect {
  transform: rotate(233deg);
}
svg#loading-svg {
    filter: drop-shadow(1px 1px 1px black);
}
.loading-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  height: 100%;
  background-color:#c7fefe
}
