/* 
#f25a5f
#E19B8E
#FFE5DB
#57BABA
 */
button.changecolor {
  position: absolute;
  border: none;
  outline: none;
  padding: 15px;
  cursor: pointer;
}
svg#loading-svg {
  width: 150px;
  height: 150px;
  overflow: visible;
  margin: auto;
  display: block;
  filter: drop-shadow(1px 1px 1px black);
}
#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
.loading-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  height: 100%;
  background-color: #b5f2f1;
}
