/* 
#f25a5f
#E19B8E
#FFE5DB
#57BABA
 */

button.changecolor {
  border: none;
  outline: none;
  padding: 15px;
  cursor: pointer;
  z-index: 7;
  position: relative;
}
svg#loading-svg {
  width: 150px;
  height: 150px;
  overflow: visible;
  /* margin: auto; */
  display: block;
  position: relative;
}

.heart-rate {
  width: 150px;
  height: 73px;
  position: relative;
  margin: 0 5%;
}
.heart-rate svg polyline {
  stroke: #000;
}

.loading-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  align-items: center;
  place-content: center;
  display: flex;
  height: 100%;
}
